.input-row {
    font-size: 23px;
    margin: 5px 0;
    display: grid;
    grid-template-columns: 30fr 70fr;
    align-items: center;
}

.input-row > label {
    justify-self: start;
}

.input-row > input {
    justify-self: end;
}

.input {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-left :10px;
    font-size: 23px;
}

.input-textarea {
    height: 250px;
}

.profile-picture-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 5px 0;
    margin-bottom: 25px;
}

.profile-picture-wrapper {
    position: relative;
    width: 200px;
    cursor: pointer;
}

.profile-picture {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 3px 3px darkgray;
}

.label {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(176, 51, 86);
    font-weight: bold;
    z-index: 10;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
}

.profile-picture-wrapper:hover .label {
    opacity: 1;
}

.profile-picture-wrapper:hover .profile-picture {
    filter: blur(2px)
}

.save-btn {
    padding: 10px 20px;
    font-size: 23px;
    border-radius: 20px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: lightgreen;
}