nav{
    width: 100%;
    height: 5em;
    background: pink;
    box-shadow: 0 0 20px #e2b981;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
}

nav .container .nav-left{
    margin: auto 2rem;
}

nav .container .nav-left a img{
    height: 3vw;
}

nav .container .nav-right{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

nav .container .nav-right a{
    font-size: 2vw;
    /* margin: auto; */
    color: white;
    margin: auto;
    text-decoration: none;
}

nav .container .nav-right a:hover{
    color: #e2b981;
}

nav .container .nav-right form{
    margin: auto;
}

nav .container .nav-right button{
    padding: 0.4em;
    border-radius: 15px;
    background-color: rgb(255, 93, 120);
}